.header {
  background-color: var(--background-secondary-color);
  border-bottom: 1px solid var(--header-line-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
